@media screen and (max-width : 1200px) {

    .content-left {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 340px !important;
        width: 30% !important;
    }

    .content-right {
        width: 70% !important;
    }

    .side-calender-container {
        display: none;
    }
}


.content-left {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 20%;
    position: relative;
    min-height: 700px;
}

.content-left::after {
    content: '';
    display: table;
    clear: both;
}

.in-calender {
    width: 100%;
    height: 30%;
}

.in-calender-year {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Orbitron', sans-serif;
    height: 40%;
}

.in-calender-month {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 6em;
    height: 40%;
}

.content-right {
    box-sizing: border-box;
    float: right;
    width: 80%;
    height: 100%;
}

.content-right::after {
    content: '';
    display: table;
    clear: both;
}

.calender {
    width: 100%;
}

.in-month-calender {
    font-size: 1.6em;
    height: 100%;
}


.side-calender-container {
    position: absolute;
    width: 100%;
    bottom : 0;
}
.side-calender {
    text-align: center;
}

.side-calender-year {
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}

.side-calender-month {
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
}

.sat {
    color: blue;
}

.sun {
    color: red;
}

.not-use {
    border : none;
}














table {
    width: 100%;
    height: 100%;
    border-spacing: 10px;
}

th {
    border : 1px solid black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8em;
    border-radius: 10px;
    border-style: solid;
}

td {
    box-sizing: content-box;
    text-align: left;
    vertical-align: top;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-color: black;
    border-style: dashed;
    position: relative;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    min-height: 0;
}

.calender-date {
    font-family: 'Cute Font', cursive;
    font-weight: 600;
    padding: 0.2em;
}

.calender-content {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.5em;
}


.side-calender td {
    text-align: center;
}

