<!DOCTYPE html>
<html class="h-100" lang="ko">

<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <script type="text/javascript">
            var init = function () {
                var param = '<%= param %>';
                var redirect = '<%= redirect %>';
                
                if(param) {
                    alert('<%= param %>');
                }
                if(redirect == '1') {
                    window.location.href = '/';
                }
            }

            var ID_checked = false;
            var PW_checked = false;
            var confirmPW_checked = false;


            //아이디입력검사
            var check_ID = function (element_id , element_validated_id) {

                var ID = document.getElementById(element_id).value;
                
                outputdata = {};
                outputdata['ID'] = ID;
                $.ajax({
                    url : "/checkid",
                    type : "POST",
                    data : JSON.stringify(outputdata),
                    contentType : "application/json",
                    cache : false,
                    async : true,
                    headers : {"cache-control" : "no-cache"},
                    success : function (inputdata_jsonstr) {
                        console.dir(inputdata_jsonstr);
                        var inputdata = JSON.parse(inputdata_jsonstr);
                        if(inputdata['result'] == true) {
                            alert('사용가능합니다.');
                            ID_checked = true;
                            document.getElementById(element_validated_id).value = ID;
                        }
                        else {
                            alert('아이디가 중복됩니다.');
                            ID_checked = false;
                        }
                    },

                    error : function () {
                        alert('에러발생');
                        ID_checked = false;
                    }
                });
            }

            //비밀번호 입력 검사
            var check_PW = function (element_id , show_element_id) {
                var regex = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
                var pw = document.getElementById(element_id).value;

                if(regex.test(pw)) {
                    document.getElementById(show_element_id).style.display = 'none';
                    PW_checked = true;
                }
                else {
                    document.getElementById(show_element_id).style.display = 'block';
                    PW_checked = false;
                }
            }

            //비밀번호 확인 검사
            var check_confirmPW = function (PW_element_id , confirmPW_element_id , show_element_id) {
                var PW = document.getElementById(PW_element_id).value;
                var confirmPW = document.getElementById(confirmPW_element_id).value;

                if(PW == confirmPW) {
                    document.getElementById(show_element_id).style.display = 'none';
                    confirmPW_checked = true;
                }
                else {
                    document.getElementById(show_element_id).style.display = 'block';
                    confirmPW_checked = false;
                }
            }
            

            //보내기전 체크
            var check_submit = function (ID_element_id , ID_hidden_element_id) {
                var msg = "";
                if(ID_checked == false || (document.getElementById(ID_element_id).value != document.getElementById(ID_hidden_element_id).value)) {
                    ID_checked = false;
                    msg += '- 아이디 중복체크를 하세요\n';
                }
                
                if(PW_checked == false) {
                    msg += '- 비밀번호를 알맞게 입력하세요\n';
                }

                if(confirmPW_checked == false) {
                    msg += '- 비밀번호 확인이 완료되지 않습니다.\n';
                }

                if(ID_checked && PW_checked && confirmPW_checked) {
                    return true;
                }
                else {
                    alert(msg);
                    return false;
                }
            }

        </script>

        <style>
            *{
             font-size: 0.8vw;   
            }
        </style>
</head>

<body class="h-100" onload="init();">
    <div class="container h-100">
        <div class="row align-items-center  h-100">
            <div class="col-sm-6 mx-auto my-auto">
                <form id="adduser_form" method="post" action="/adduser" onsubmit="return check_submit('ID' ,'validated_ID')">
                    <div class="card mx-auto"> 
                        <div class="card-body">
                            <div class="container">
                                <h2 class="card-title text-center mb-4 mt-1"> <i class="far fa-laugh-squint fa-1x"></i> 회원 가입 <i class="far fa-laugh-squint fa-1x"></i>   </h2> 
                                <hr>
                                <div class="row justify-content-center">

                                    <div class="col-3 p-1">
                                            <label class="form-control text-center">아이디</label>
                                    </div>
                                    
                                    <div class="col-4 p-1">
                                            <input type="text" class="form-control" id="ID" name="ID" >
                                            <input type="hidden" id="validated_ID" value="">
                                    </div>

                                    <div class="col-3 p-1">
                                            <input type="button" class="btn btn-secondary w-100" value="중복확인" onclick="check_ID('ID' , 'validated_ID')">
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                        <div class="col-3 p-1">
                                                <label class="form-control text-center">비밀번호</label>
                                        </div>

                                        <div class="col-7 p-1">
                                                <input type="password" class="form-control" id="PW" name="PW" onblur="check_PW('PW' , 'password_check_row');check_confirmPW('PW' , 'PW_Confirm' , 'confirm_password_row');">
                                        </div>
                                </div>

                                <div class="row" id="password_check_row" style="display: none">
                                        <div class="col-sm-7 offset-sm-4 p-1">
                                                <label class="form-control text-center">영문,숫자,특수문자 조합 8~15글자</label>
                                        </div>
                                </div>

                                <div class="row justify-content-center">
                                        <div class="col-3 p-1">
                                                <label class="form-control text-center">비밀번호확인</label>
                                        </div>
                                        
                                        <div class="col-7 p-1">
                                                <input type="password" class="form-control" id="PW_Confirm" name="PW_Confirm" onblur="check_confirmPW('PW' , 'PW_Confirm' , 'confirm_password_row');">
                                        </div>
                                </div>

                                <div class="row" id="confirm_password_row" style="display: none">
                                        <div class="col-sm-7 offset-sm-4 p-1">
                                                <label class="form-control text-center">비밀번호가 같지않습니다.</label>
                                        </div>
                                </div>

                                <div class="row justify-content-center">
                                        <div class="col-3 p-1">
                                                <label class="form-control text-center">승인번호</label>
                                        </div>
                                        
                                        <div class="col-7 p-1">
                                                <input type="text" class="form-control" id="CODE" name="CODE">
                                        </div>
                                </div>

                                <div class="row justify-content-center">
                                        <div class="col-10 p-1">
                                                <input type="submit" value="등록" class="btn btn-outline-primary w-100">
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>