<!DOCTYPE html>

<head>
    <% include ./setting.ejs %>
    <link rel="stylesheet" href ="/styles/daljincalender.css">
    <script src="/scripts/daljincalender.js"></script>
</head>


<body>

    <% include ./header %>
    <% include ./linknav %>

    <main data-role="main">


    <div class="content-left">
        <div class="in-calender">
            <div class="in-calender-year year">
            <span></span>
            </div>
            <div class="in-calender-month month">
            <span></span>
            </div>
        </div>


        <div class="side-calender-container">
            <div class="side-calender pre-calender">
                <div class="side-calender-year pre-calender-year year"></div>
                <div class="side-calender-month pre-calender-month month"></div>
                <div class="calender pre-month-calender"></div>
            </div>

            <div class="side-calender post-calender">
                <div class="side-calender-year post-calender-year year"></div>
                <div class="side-calender-month post-calender-month month"></div>
                <div class="calender post-month-calender"></div>
            </div>
        </div>
        
    </div>

    <div class="content-right">
        <div class="calender in-month-calender">
            
        </div>
    </div>

    </main>
    <% include ./footer %>

</body>
</html>