<% file = data['file']; %>
<% var query = data['query']; %>

<% var file_length = Object.keys(file).length %>
<% var col = 3 %>
<% var row = Math.ceil(file_length / col) %>

<% var addItem = function(curPos) { %>
<%      if(curPos < file_length) { %>
        <% console.log(curPos); %>
<%              var item = file[curPos]['name'].trim() + ((file[curPos]['extension'] == '') ?  '' : '.'+file[curPos]['extension']) %>
             
<%              if(file[curPos]['type'] == 'directory') { %>
                        <a href="<%= query %>/<%= item %>" class="btn btn-info btn-lg">
                                <span class="glyphicon glyphicon-folder-open"></span> <%= item %>
                        </a>
<%              } else { %>
                        <a href="#" class="btn btn-info btn-lg">
                                <span class="glyphicon glyphicon-file"></span> <%= item %> 
                        </a>
<%              } %>
<%      } %>
<% } %>

<!DOCTYPE html>

<html>

<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>



<body>
        <div class="container" style="padding:5%">
                <form method="GET" , action="/file">
                        <% for(var i = 0; i < row; i++) { %>
                        <div class="row align-items-start">
                                <% for(var j = 0 ; j < col; j++) { %>
                                <span class="col-sm-2 offset-sm-2" style="padding:10px;">
                                       
                                        <% addItem(i*col+j) %>
                                        
              
                                </span>
                                <% } %>
                        </div>
                        <% } %>
                </form>
        </div>

</body>

</html>