<!DOCTYPE html>

<html lang="ko">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- JQuery.fileDownload.js -->
        <script src="http://jqueryfiledownload.apphb.com/Scripts/jquery.fileDownload.js"></script>

        <!-- ICON -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <!-- FONT -->
        <link href="https://fonts.googleapis.com/css?family=Gamja+Flower|Hi+Melody|Yeon+Sung&amp;subset=korean" rel="stylesheet">

        <style>
                        .MelodyFont {
                                font-family: 'Hi Melody', cursive;
                        }
        
                        .YeonSungFont {
                                font-family: 'Yeon Sung', cursive;
                        }
        
                        .GamjaFlower {
                                font-family: 'Gamja Flower', cursive;
                        }
        
        </style>

        <script type="text/javascript">

                var path                = null;
                
                var id                  = null;
                var used_storage        = null;
                var max_storage         = null;
                var grade               = null;
                var isIE                = false;

                //초기화
                var init = function() {
                        path         = "";
                
                        id              = '<%- id %>';
                        used_storage    = parseInt('<%- used_storage %>');
                        max_storage     = parseInt('<%- max_storage %>');
                        grade           = '<%- grade %>';

                        if(IECheck()) {
                                isIE = true;
                                document.getElementById('iealert').style.display = "block";
                        }


                }

                var IECheck = function() {
                        var agent = navigator.userAgent.toLowerCase();
                        var name = navigator.appName;
                        var browser = null;
                        if(name == 'Microsoft Internet Explorer' || agent.indexOf('trident') > -1 || agent.indexOf('edge/') > -1) {
                                browser = 'ie';
                                if(name === 'Microsoft Internet Explorer') { // IE old version (IE 10 or Lower)
                                        agent = /msie ([0-9]{1,}[\.0-9]{0,})/.exec(agent);
                                        browser += parseInt(agent[1]);
                                } 
                                else { // IE 11+
                                        if(agent.indexOf('trident') > -1) { // IE 11 
                                                browser += 11;
                                        }
                                        else if(agent.indexOf('edge/') > -1) { // Edge
                                                browser = 'edge';
                                        }
                                }
                        }
                        return (browser != null)? true : false;
                }

                var storage_init = function(progress_id , percent_id) {
                        var progress_element = document.getElementById(progress_id);
                        var percent_element = document.getElementById(percent_id);

                        var used_percent = ((used_storage / max_storage) * 100).toFixed(2);
                        
                        var arr_max_volume = getVolumeSize(max_storage , 0);
                        var arr_used_volue = getVolumeSize(used_storage , 0);


                        progress_element.style.width = used_percent+'%';
                        percent_element.innerHTML = used_percent + '% (' + arr_max_volume + '중 ' + arr_used_volue +'사용)';
                }
                
                var getVolumeSize = function (size , deter) {    
                        if(size / 1024 > 1) {                           
                                return getVolumeSize(size / 1024 , deter+1);  
                        } else {                                        
                                var res = '';                                   
                                switch(deter) {                                 
                                        case 0 :                                
                                                res = 'Byte';                              
                                                break;                                  
                                        case 1 :                                        
                                                res = 'KB';                             
                                                break;                                  
                                        case 2 :                                        
                                                res = 'MB';                             
                                                break;                                  
                                        case 3 :                                        
                                                res = 'GB';                             
                                                break;                                  
                                        case 4 :                                        
                                                res = 'TB';                             
                                                break;                                 
                                        default :                                       
                                                res = "NaN";                            
                                                break;                                  
                                }  
                                if(res=='Byte') {
                                        return size.toFixed(0)+res;  
                                }
                                else {
                                        return size.toFixed(2)+res;  
                                }
                                        
                        }                                             
                }

                var fileframeRefresh = function() {
                        document.getElementById('fileframe').contentDocument.location.reload(true);
                }
                
                //iframe 리스너
                window.addEventListener('message' , function(e) {
                        var inputdata = JSON.parse(e.data);
                        var type = inputdata["type"];
                        var data = inputdata["data"];
                        switch(type) {
                                case "pathupdate" :
                                        path = data;
                                break;

                                case "download" : 
                                        downloadNext(data , 0 ,Object.keys(data).length);
                                break;

                                case "delete" :
                                        Delete(data)
                                break;
                        }
                });

                var downloadNext = function(files , pos , length){
                        if(pos >= length) {
                                return;
                        }

                        document.getElementById('i_downloadItem').value = files[pos]['fullname'].trim();
                        document.getElementById('i_itemType').value = files[pos]['type'];
                        document.getElementById('i_itemPath').value = path;

                        //jQuery.fileDownload.js plugin 사용
                        $.fileDownload($('#downloadForm').prop('action'), { 
                                httpMethod: "POST", 
                                data: $("#downloadForm").serialize(), 

                                successCallback: function (url) {
                                        downloadNext(files , pos+1 , length);
                                },
                                failCallback: function (responseHtml, url, error) { 
                                        alert("DOWNLOAD ERROR");
                                }
                        });
                }

                //다운로드
                var Download_click = function () {
                        document.getElementById('fileframe').contentWindow.postMessage("download");
                }


                var Delete = function (files) {
                        
                        var JSON_items = {};
                        for(var i = 0 ; i < Object.keys(files).length; i++) {
                                var JSON_item = {};
                                JSON_item['name'] = files[i]['fullname'];
                                JSON_item['type'] = files[i]['type'];
                                JSON_items[i] = JSON_item;
                        }

                        var output = {};
                        output["daletePath"] = path;
                        output["deleteList"] = JSON.stringify(JSON_items);

                        $.ajax({
                                url : "/delete",
                                type : "POST",
                                data : JSON.stringify(output),
                                contentType : "application/json",
                                cache : false,
                                async : true,
                                headers : {"cache-control" : "no-cache"},
                                success : function (inputdata_jsonstr) {
                                        var inputdata = JSON.parse(inputdata_jsonstr);
                                        var msg = "";
                                        var refresh = false;
                                        for(var i = 0 ; i < Object.keys(inputdata).length; i++) {
                                                if(inputdata[i]['error']) {
                                                        msg += inputdata[i]['msg'] + "\n";
                                                }
                                                else {
                                                        refresh = true;
                                                }
                                        }
                                        if(msg) {
                                                alert(msg);
                                        }
                                        if(refresh) {
                                                fileframeRefresh();
                                        }
                                },
                                error : function () {
                                        alert('에러발생');
                                }
                        });
                }

                //삭제
                var Delete_click = function () {
                        document.getElementById('fileframe').contentWindow.postMessage("delete");
                }
                
                //업로드 시작
                var Upload_start = function (form_id){
                        var bottomNav = document.getElementById('bottomNavbar');
                        var form_data = new FormData(document.getElementById(form_id));
                        form_data.append("n_upload_path" , path);
                        bottomNav.style.visibility = "visible";

                        $.ajax({
                                url : "/upload",
                                type : "POST",
                                data : form_data,
                                cache : false,
                                async : true,
                                headers : {"cache-control" : "no-cache"},
                                processData : false,
                                contentType : false,
                                success : function(inputdata_str) {
                                        var inputdata = JSON.parse(inputdata_str);
                                        alert(inputdata.msg);
                                        
                                        fileframeRefresh();

                                        
                                        bottomNav.style.visibility = "hidden";
                                        document.getElementById('upload_progress').style.width = '0%';
                                        document.getElementById('upload_percent').innerHTML = '0%';
                                },
                                
                                error : function () {
                                        alert('에러발생');
                                },
                                xhr: function(){
                                        var xhr = $.ajaxSettings.xhr() ;
                                        // 프로그래스 이벤트
                                        xhr.upload.onprogress = function(evt){ 
                                                document.getElementById('upload_progress').style.width = parseInt(evt.loaded/evt.total*100) +'%';
                                                document.getElementById('upload_percent').innerHTML = parseInt(evt.loaded/evt.total*100) +'%';
                                        } ;
                                        // 종료 이벤트
                                        xhr.upload.onload = function(){ 
                                                
                                        } ;
                                        // return the customized object
                                        return xhr ;
                                }
                        });
                }


                //폴더만들기
                var makeDirectory = function (dom_makeDirectoryName) {
                       var dirName = document.getElementById(dom_makeDirectoryName).value;
                       var dirPath = path

                       if(dirName == '' || dirName==null) {
                               alert("폴더명을 적어주세요");
                               return;
                       }
                       
                        outputdata = {};
                        outputdata['mkdirName'] = dirName
                        outputdata['mkdirPath'] = dirPath
                        $.ajax({
                                url : "/mkdir",
                                type : "POST",
                                data : JSON.stringify(outputdata),
                                contentType : "application/json",
                                cache : false,
                                async : true,
                                headers : {"cache-control" : "no-cache"},
                                success : function (inputdata_jsonstr) {
                                        var inputdata = JSON.parse(inputdata_jsonstr);
                                        alert(inputdata['msg']);
                                        if(inputdata['error'] == false) {
                                                document.getElementById(dom_makeDirectoryName).value = "";
                                                fileframeRefresh();
                                        }
                                },
                                error : function () {
                                        alert('에러발생');
                                }
                        });
        
                }

                //로그아웃
                var logout = function() {
                        $.ajax({
                                url : "/logout",
                                type : "POST",
                                data : {},
                                contentType : "application/json",
                                cache : false,
                                async : true,
                                headers : {"cache-control" : "no-cache"},
                                success : function (inputdata_jsonstr) {
                                        var inputdata = JSON.parse(inputdata_jsonstr);
                                        if(inputdata['error']) {
                                                alert("로그아웃 실패");
                                        }
                                        else {
                                                window.location.href="/";
                                        }
                                },
                                error : function () {
                                        alert('에러발생');
                                }
                        });
                }




                //툴팁 작동 코드
                $(document).ready(function(){
                        $('[data-toggle="tooltip"]').tooltip();   
                });

        </script>

        
</head>

<body onload="init();storage_init('i_used_storage' , 'i_used_percent');">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">

                <a class="navbar-brand" href="/file" style="display: inline;">
                        <img src="/logoHorizonImage" style="display: inline;"/>
                </a>

                <button class="navbar-toggler ml-auto" 
                                type="button" 
                                data-toggle="collapse" 
                                data-target="#navbarItems" 
                                aria-controls="navbarItems" 
                                aria-expanded="false" 
                                aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarItems">
                        <!-- 상단 왼쪽 메뉴 -->
                        <ul class="navbar-nav">
                                
                                <!-- 폴더 만들기 -->
                                <form class="form-inline my-1 mx-1" id="i_makeDirectoryForm" action="javascript:makeDirectory('i_makeDirectory_Name' , 'i_makeDirectory_path')">
                                        <div class="form-group w-100 p-0 m-0">
                                                <div class="input-group w-100">
                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fas fa-folder-plus"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="i_makeDirectory_Name" name="n_makeDirectory_Name" value="" placeholder="폴더이름">
                                                        <input type="button" class="btn btn-success" value="폴더생성" onclick="makeDirectory('i_makeDirectory_Name')" > 
                                                        
                                                </div>
                                        </div>   
                                </form> 

                                <!-- 삭제 -->
                                <form class="form-inline my-1 mx-1" id="i_deleteForm" method="POST">
                                        <input type="button" class="btn btn-success w-100" value="삭제" onclick="Delete_click();">
                                </form>

                                <!-- 업로드 -->
                                <form class="form my-1 mx-1" id="uploadForm" method="POST" action="/fileUpload" enctype="multipart/form-data">
                                        <div class="form-group w-100 p-0 m-0">
                                                <div class="input-group w-100">
                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fas fa-cloud-upload-alt"></i></span>
                                                        </div>
                                                
                                                        <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="i_upload_files" name="n_upload_files" multiple onchange="Upload_start('uploadForm');this.value=null;return false">
                                                                <label class="custom-file-label text-left" for="i_upload_files">업로드</label>
                                                        </div>
                                                </div>
                                        </div>
                                </form>

                                <!-- 다운로드 -->
                                <form class="form-inline my-1 mx-1" id="downloadForm" method="POST" action="/download">
                                        <input type="button" class="btn btn-success w-100" value="다운로드" onclick="Download_click();">
                                        <input type="hidden" id="i_downloadItem" name="n_downloadItem" value="">
                                        <input type="hidden" id="i_itemType" name="n_itemType" value="">
                                        <input type="hidden" id="i_itemPath" name="n_itemPath" value="">
                                </form>
                        </ul>
                        <!-- 상단 메뉴 오른쪽 -->
                        <ul class="navbar-nav ml-auto my-1 ">
                                <% if(grade == 'master') { %>
                                        <li class="nav-item mx-1">
                                                <input type="button" class="btn btn-info w-100 m-0" value="관리자 페이지" onclick="window.location.href=encodeURIComponent('master');">
                                        </li>
                                <% } %>


                                <form class="form-inline mx-1" method="post">
                                        <input class="btn btn-success" name="" style="width: 100%; height:100%" value="로그아웃" type="button" onclick="logout();">
                                </form>
                        </ul>
                </div>
        </nav>

        <div class="container" style="padding-top: 75px; padding-bottom: 60px;">

                <!-- IE 문제 표시 -->
                <% include iealert.ejs %>

                <!-- 사용량 -->
                <div class="row">
                        
                        <div class="progress position-relative w-100" style="height:5vh">
                                <div id='i_used_storage' class="progress-bar bg-success progress-bar-striped" style="height: 5vh">
                                                <span id="i_used_percent" class="align-middle" style="color:black;"></span> 
                                </div>
                        </div>
                                
                </div>

                <!-- 파일 리스트 -->
                <div class="row">
                        <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="fileframe" class="embed-responsive-item" src="/fileframe"></iframe>
                        </div>
                </div>
                
        </div>

        <!-- 하단 업로드 바 -->
        <nav id="bottomNavbar" class="navbar fixed-bottom bg-dark navbar-dark" style="visibility: hidden">
                <div class="progress w-100 h-100">
                        <div id="upload_progress" class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%; height:100%">
                                <span id="upload_percent"></span>
                        </div>
                </div>
        </nav>

</body>

</html>