<footer class="footer">
        <p style="float:left"> Copyright &copy; DALJIN 
            <br>
            if you give me the feedback, I always ready to get feeback :)
        </p>

        <p style="float:right;">
            TEL : +82) 010-0000-0000
            <br>
            EMAIL : toyyj15@icloud.com
        </p>
</footer>