<header>
    <div class="container">
        <a href="/"><img src="/images/daljin_logo_horizon.png" class="logo"/></a>

        <a id="naver_login" href="/naverlogin">
            <img src="/images/naverloginbutton.png">
        </a>

        <a id="btn_logout" class="d-btn-logout">
            <i class="fas fa-sign-out-alt">&nbsp;LOGOUT</i>
        </a>
    </div>
</header>