<header>
    <div class="container">
        <a href="/"><img src="/images/daljin_logo_horizon.png" class="logo"/></a>

        <button class="d-btn d-btn-logout"><i class="fas fa-sign-out-alt"></i>&nbsp;LOGOUT</button>
    </div>
</header>