<header>
        <a href="/"><img src="/images/daljin_logo_horizon.png" class="logo"/></a>

        <a class="naver_login" href="javascript:function(){window.location.href='/naverlogin?history='+window.location.pathname;}">
            <img id="naver_img_1" src="/images/naverloginbutton.png">
            <img id="naver_img_2" src="/images/naverloginbutton_small.png">
        </a>

        <a id="btn_logout" class="d-btn-logout">
            <i class="fas fa-sign-out-alt"></i>
            <span>&nbsp;LOGOUT</span>
        </a>
</header>