<!DOCTYPE html>

<html class="h-100" lang="ko">

<head>
    <% include ./setting %>

    <link rel="stylesheet" href="/styles/daljinindex.css">

</head>
<body>

    <% include ./header %>
    <% include ./linknav %>

    <main data-role="main">


        <div id="wdw">
            <span>WHAT DO YOU WANT?</span>
        </div>


        <div id="item_1" class="small item">
            <img src="/images/window.png">
        </div>

        <div id="item_2" class="big item">
            <img src="/images/csharp.png">
        </div>

        <div id="item_3" class="big item">
            <img src="/images/kotlin.png">
        </div>

        <div id="item_4" class="big item">
            <img src="/images/android.png">
        </div>

        <div id="item_5" class="small item">
            <img src="/images/swift.png">
        </div>

        <div id="item_6" class="big item">
            <img src="/images/apple.png">
        </div>

        


    </main>
    <% include ./footer %>

</body>
</html>