<!DOCTYPE html>

<html class="h-100" lang="ko">

<head>
    <% include ./setting %>


</head>
<body>

    <% include ./header %>
    <% include ./linknav %>

    <main data-role="main">

    </main>

    <% include ./footer %>

</body>
</html>