<div class="container">

    <nav class="linknav">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/cloud">CLOUD</a></li>
            <li><a href="#">MAIL</a></li>
            <li><a href="#">CALENDER</a></li>
        </ul>
    </nav>
    
</div>