<div class="container">

    <nav class="linknav">
        <ul>
            <li><a href="/"><i class="fas fa-home"></i>&nbsp;<span>HOME</span></a></li>
            <li><a href="javascript:void(0);" onclick="if(isLogin){window.location.href='/cloud';}else{alert('로그인을 해주세요');}"><i class="fas fa-cloud"></i>&nbsp;<span>CLOUD</span></a></li>
            <li><a href="/calender"><i class="fas fa-calendar-alt"></i>&nbsp;<span>CALENDER</span></a></li>
        </ul>
    </nav>
    
</div>