<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <script type="text/javascript">
        var init = () => {
            var msg = '<%= msg %>';
            if(msg) {
                alert(msg);
            }
        }
    </script>
</head>

<body class="container" onload="init();">

    <div class="card">
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">로그인</h4>
            <hr>
            <p class="text-success text-center">달진이 클라우드 접속</p>
            <form method="post" action="/login">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i></span>
                        </div>
                        <input name="ID" class="form-control" placeholder="ID">
                    </div> 
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="PW" class="form-control" placeholder="********" type="password">
                    </div> <!-- input-group.// -->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> 로그인  </button>
                </div>
                <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" onclick="window.location='/adduser'"> 등록 </button>
                </div>
        </article>
    </div>
   
</body>

</html>