<!DOCTYPE html>
<html lang="ko">

<head>

</head>

<body>

    <form method="post" action="/process/addUser">

        ID:<input type="text" name="ID" />
        PW:<input type="password" name="PW" />
        name:<input type="text" name="NAME" />
        
        <input type="submit" name="submit" value="만들기"/>

    </form>


</body>
</html>